form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  background-color: var(--sys-surface-container-low);
  border-radius: 1rem;
}

mat-toolbar {
  background-color: var(--sys-tertiary-container);
  color: var(--sys-on-tertiary-container);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  height: 32px;
  width: 100%;
  justify-content: center;
}

input {
  text-align: center;
}

form > button {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
form > .mat-mdc-button-base {
  background-color: var(--sys-tertiary-container);
  color: var(--sys-on-tertiary-container);
}
form > .mat-mdc-button-disabled {
  background-color: var(--sys-surface-container);
  color: var(--sys-on-surface-container);
}
