<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon>access_time</mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h1>Timeclock</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <p>{{ currentDateAndTime | date : "EEEE, MMMM d, yyyy - H:mmaa" }}</p>
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field>
  <mat-label>Badge Number</mat-label>
  <input matInput name="badgeNumber" required [(ngModel)]="badgeNumber" />
  @if (badgeNumber) {
  <button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="badgeNumber = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
  }
</mat-form-field>

<button mat-raised-button (click)="clockInOut()" [disabled]="!badgeNumber">
  Clock In/Out
</button>

<button mat-raised-button (click)="checkStatus()" [disabled]="!badgeNumber">
  Check Status
</button>

<img mat-card-image src="monteVista.png" />
