:host {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--sys-surface-container-low);
  border-radius: 1rem;
}

mat-toolbar {
  background-color: var(--sys-tertiary-container);
  color: var(--sys-on-tertiary-container);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

mat-toolbar-row {
  height: 32px;
  background-color: var(--sys-tertiary-container);
  color: var(--sys-on-tertiary-container);
  border-radius: 1rem;
  justify-content: center;
}

h1,
p {
  width: 100%;
  text-align: center;
}

input {
  text-align: center;
}

mat-form-field {
  margin-bottom: 17px;
}

:host > button {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
:host > .mat-mdc-button-base {
  background-color: var(--sys-tertiary-container);
  color: var(--sys-on-tertiary-container);
}
:host > .mat-mdc-button-disabled {
  background-color: var(--sys-surface-container);
  color: var(--sys-on-surface-container);
}
